<div class="col-12 col-sm-12 col-lg-6">
    <h2>Redability Pointers</h2>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>
                    <div class="dropdown">
                        <a data-toggle="dropdown" href="#">Functions
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                <div class="dropdown-header">Pointers for Function Readability</div>
                            </li>
                            <li role="presentation">
                                <span class="list-item">
                                    <span class="glyphicon glyphicon-ok"></span>Consitent naming</span>
                            </li>
                            <li role="presentation">
                                <span class="list-item">
                                    <span class="glyphicon glyphicon-ok"></span>Size - From 1 line to 1 page</span>
                            </li>
                            <li role="presentation">
                                <span class="list-item">
                                    <span class="glyphicon glyphicon-ok"></span>Clear Code Paths through the function</span>
                            </li>
                            <li role="presentation">
                                <span class="list-item">
                                    <span class="glyphicon glyphicon-ok"></span>Keep coherent lines of code grouped together</span>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <span class="list-item">
                                    <span class="glyphicon glyphicon-ok"></span>Comment anything that diviates from normal</span>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="dropdown">
                        <a data-toggle="dropdown" href="#">Functions
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                <div class="dropdown-header">Pointers for Function Readability</div>
                            </li>
                            <li role="presentation">
                                <span class="list-item">
                                    <span class="glyphicon glyphicon-ok"></span>Consitent naming</span>
                            </li>
                            <li role="presentation">
                                <span class="list-item">
                                    <span class="glyphicon glyphicon-ok"></span>Size - From 1 line to 1 page</span>
                            </li>
                            <li role="presentation">
                                <span class="list-item">
                                    <span class="glyphicon glyphicon-ok"></span>Clear Code Paths through the function</span>
                            </li>
                            <li role="presentation">
                                <span class="list-item">
                                    <span class="glyphicon glyphicon-ok"></span>Keep coherent lines of code grouped together</span>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <span class="list-item">
                                    <span class="glyphicon glyphicon-ok"></span>Comment anything that diviates from normal</span>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--/span-->
<div class="col-12 col-sm-12 col-lg-6">
    <h2>Naming Conventions</h2>
    <p>Table Here</p>
</div>
<!--/span-->
<div class="col-12 col-sm-12 col-lg-6">
    <h2>Git</h2>
    <p>Table Here</p>
</div>
<!--/span-->
<div class="col-12 col-sm-12 col-lg-6">
    <h2>Patterns</h2>
    <p>Table Here</p>
</div>
<!--/span-->
<div class="col-12 col-sm-12 col-lg-6">
    <h2>Refactorings</h2>
    <p>Table Here</p>
</div>
<!--/span-->
<div class="col-12 col-sm-12 col-lg-6">
    <h2>Testing</h2>
    <p>Table Here</p>
</div>